{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>home page</h2>
{#    <img src="{% static 'images/kitan.JPG' %}" alt="">#}
    <h3>{{ d1 }}</h3>
    <h3>{{ l1 }}</h3>
    {% for i in l1 %}
        <span>{{ i }}</span>
    {% endfor %}
    <h3>{{ ui }}</h3>
    {% for k,v in ui.items %}
        <li>{{ k }}---{{ v }}</li>
    {% endfor %}
        {% for i in ui_list %}
        <li>{{ i }}</li>
    {% endfor %}
</body>
</html>
