{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div>
            <input id="add" type="button" value="new order" class="btn btn-primary">
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Order</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="formAdd">
                        <div class="clearfix">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        <span style="color: red">{{ field.errors.0 }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            bindNewEvent()
            bindSubmitEvent()
        })

        function bindNewEvent() {
            $("#add").click(function () {
                $('#myModal').modal('show')
            })
        }

        function bindSubmitEvent() {
            $("#btnSave").click(function () {

            })
        }
    </script>
{% endblock %}