{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <div>
                <input id="add" type="button" value="new order" class="btn btn-primary">
            </div>
            <div style="float: right; width: 300px">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="title" class="form-control" placeholder="Search for..."
                               value="{{ search }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
            <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                Order List
            </div>
            <div class="panel-body">
                <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum
                    nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NUMBER</th>
                    <th>TITLE</th>
                    <th>PRICE</th>
                    <th>STATUS</th>
                    <th>ADMIN_ID</th>
                    <th>OPERATION</th>
                </tr>
                </thead>
                <tbody>
                {% for i in number_list %}
                    <tr>
                        <th>{{ i.id }}</th>
                        <td>{{ i.number }}</td>
                        <td>{{ i.title }}</td>
                        <td>{{ i.price }}</td>
                        <td>{{ i.get_status_display }}</td>
                        <td>{{ i.admin_id }}</td>
                        <td>
                            <a href="/order/{{ i.id }}/edit" class="btn btn-primary btn-xs">edit</a>
                            <a href="/order/{{ i.id }}/delete" class="btn btn-primary btn-xs">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_list }}
        </ul>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Order</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="formAdd">
                        <div class="clearfix">
                            {% for field in form %}
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        <span style="color: red" class="error-msg"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            bindNewEvent()
            bindSaveEvent()
        })

        function bindNewEvent() {
            $("#add").click(function () {
                $('#myModal').modal('show')
            })
        }

        function bindSaveEvent() {
            $("#btnSave").click(function () {
                $('.error-msg').empty()
                $.ajax({
                    url: '/order/add',
                    type: 'post',
                    data: $("#formAdd").serialize(),
                    dataType: 'JSON',
                    success(res) {
                        if (res.status) {
                            alert("add success")
                            $('#formAdd')[0].reset()
                            $('#myModal').modal('hide')
                        } else {
                            $.each(res.error, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0])
                            })
                        }
                    },
                    error(res) {
                        alert(res.error)
                    }
                })
            })
        }
    </script>
{% endblock %}